<div class="article-list">
  <!--random tag to ensure Nexus fires?-->
{#  {% set sortedList = site.pages %}
  {% filter sort(false,false,'title') %}
    {{ sortedList }}
  {% endfilter %} #}
  {% for article in site.pages | lower %}
    {% if article.product == page.product and article.title != page.title %}
      <div class="article-entry">
        <h4>{{ article.title }}&nbsp;&nbsp;&nbsp;&nbsp;[[{{ article.permalink }}]]</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ article.name }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>
<!--<a href="{{ site.baseurl }}{{ article.permalink }}">-->
